@model Smart_Utube.Models.Playlist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Playlist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <h4>Movies in playlist</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.PlaylistMovies != null)
            {
                @foreach (var playlistMovie in Model.PlaylistMovies)
                {
                    <tr>
                        <td>
                            @playlistMovie.Movie.Title
                        </td>

                        <td>
                            <a asp-controller="PlaylistMovies"
                               asp-action="RemoveFromPlaylist"
                               asp-route-movieId="@playlistMovie.MovieId"
                               asp-route-playlistId="@Model.Id"
                               class="btn btn-danger btn-sm">
                                Remove
                            </a>
                        </td>
                    </tr>
                }
            } 
        </tbody>
    </table>
</div>
