@model Smart_Utube.DTOs.Movie.MovieReadDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YouTubeUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YouTubeUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            Rating
        </dt>
        <dd class="col-sm-10">
            ⭐ @Model.AverageRating.ToString("0.0") / 5
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>

    <br />

    <h4>Rate this movie</h4>

    <form asp-controller="Ratings"
          asp-action="Rate"
          method="post">

        <input type="hidden"
               name="movieId"
               value="@Model!.Id" />

        <input type="hidden"
               name="userId"
               value="1" />

        <select name="value" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <br />

        <button type="submit"
                class="btn btn-success">
            Rate
        </button>
    </form>
    <a asp-controller="Ratings"
       asp-action="Delete"
       asp-route-movieId="@Model.Id"
       asp-route-userId="1"
       class="btn btn-danger mt-2">
        Remove Rating
    </a>
</div>
