@model IEnumerable<Smart_Utube.DTOs.Movie.MovieReadDto>
@using Smart_Utube.Models

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Watch on YouTube
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                <td>
                    <a asp-controller="Movies"
                       asp-action="Watch"
                       asp-route-id="@item.Id"
                       class="btn btn-primary">
                        ▶ Play
                    </a>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

            <br />

                    @if (ViewBag.Playlists != null)
                    {
                        <form asp-controller="PlaylistMovies"
                              asp-action="AddToPlaylist"
                              method="post">

                            <input type="hidden"
                                   name="movieId"
                                   value="@item.Id" />

                            <select name="playlistId"
                                    class="form-control form-control-sm">

                                @foreach (var playlist in ViewBag.Playlists)
                                {
                                    <option value="@playlist.Id">
                                        @playlist.Name
                                    </option>
                                }
                            </select>

                            <button type="submit"
                                    class="btn btn-success btn-sm mt-1">
                                + Playlist
                            </button>
                        </form>
                    }

            <br />

                <a asp-controller="Favorites"
                    asp-action="Add"
                    asp-route-movieId="@item.Id"
                    class="btn btn-warning btn-sm mt-1">
                    ❤ Favorite
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
